
.priorities__text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #757575;
  }
  .priorities__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }


.priorities__list {
    display: flex;
    gap: 30px;
  }

  .priorities {
    padding: 94px 0;
  } 

  .priorities__icon {
    border-radius: 4px;
    height: 120px;
    width: 270px;
    background-color: #f5f4fa;
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-bottom: 30px;
  }